/* Global Changes*/

* {
    font-family: 'Roboto', 'Times New Roman', sans-serif;
    /*border: 1px solid black;*/
}

body {
    margin: 0;
}

h1,
h2 {
    margin: 0;
}

/* Colors of backgrounds */

.header,
.hero-text,
.footer {
    background-color: #1f2937;
}

.quote {
    background-color: #E5E7EB;
}

button,
.call-to-action .bounding-box {
    background-color: #3882f6;
}

/* Style of each section */
/* Header */

.header {
    padding: 24px 48px 24px;
}

.header .bounding-box{
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    flex-wrap: wrap;
}

.header h1 {
    font-weight: 24px;
    color: #F9FAF8;
    
}

.header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 16px;
}

.header a {
    text-decoration: none;
    font-weight: 18px;
    color: #E5E7EB;
}

/* Hero Text */

.hero-text {
    padding: 24px 48px 24px;
}

.hero-text .bounding-box {
    display: flex;
}